
.menu img{
    height: 25px;
    width: 25px; 
    padding: 5px;
}


.opciones button{
    background-color: red;
    border-radius: 20px;
    padding: 15px;
    margin: 25px;
    display: flex;
    cursor: pointer;

}


.galeria figure .opciones{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(40, 42, 43, 0.527);
    visibility: hidden;
    text-align: center;
    transition: all 5ms ease-out;
    border-radius: 40px;
    margin-top: 10px;
    justify-content: center;
}

.galeria figure:hover > .opciones{
    opacity: 1;
    visibility: visible;

}

.logoinicio div{
    position: relative;
    overflow: hidden;
    border-radius: 20px;

}



.pinterest a .sombreado{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(75, 82, 83, 0.3);
    visibility: hidden;
    text-align: center;
    transition: all 500ms ease-out;
    justify-content: center;
    border-radius: 15px;
}

.pinterest a:hover > .sombreado{
    opacity: 1;
    visibility: visible;

}


.perfil div {
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.perfil div button{
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    justify-content: center;
}


.perfil div a .sombreado{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background:rgb(51, 48, 48, 0.3);
    visibility: hidden;
    text-align: center;
    transition: all 500ms ease-out;
    justify-content: center;
    border-radius: 15px;
}

.perfil div a:hover .sombreado{
    opacity: 1;
    visibility: visible;
}

.perfil div button .sombreado{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background:rgb(51, 48, 48, 0.3);
    visibility: hidden;
    text-align: center;
    transition: all 500ms ease-out;
    justify-content: center;
    border-radius: 15px;
}

.perfil div button:hover .sombreado{
    opacity: 1;
    visibility: visible;
}
